.DS_Store
Thumbs.db

.idea

bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
*.dll
*.exe
*.pdb
*.cache
*.vsp
*.vspx
*.ilk
*.log
*.lib
*.sbr
*.bsc
*.ilk


.idea/
*.csproj.user
*.pidb
*.vs/
*.nupkg
*.nuproj
*.resharper
*.dotSettings.user

/packages/

*.tmp
*.temp
*.tlog
*.vspscc